<div class="container bg-light py-5">
  <h1 class="display-5 fw-bold">Welcome to Quiz App</h1>
  <p class="col-md-8 fs-4">
    This quiz will contains total 9 questions. Each questions holds 10 points.
  </p>
  <h4>Rules</h4>
  <ol>
    <li>Correct question gives you 10 points</li>
    <li>Incorrect question gives you -10 points</li>
    <li>You will have 10 seconds to answer each question.</li>
    <li>Refreshing the page will reset the quiz.</li>
  </ol>
  <h3>Let's Start!</h3>
  <div class="name col-md-4 my-3">
    <label for="">Enter Your Name</label>
    <input type="text" class="form-control" />
  </div>
  <button class="btn btn-primary btn-lg" routerLink="/question">
    Start the quiz!
  </button>
</div>
